@use "../../../styles/_variables.scss" as *;
@use "../../../styles/_mixins.scss" as *;

.section {
    padding: $space-16 $space-6;
    background-color: $muted;

    @include md {
        padding: $space-24 $space-12;
    }
}

.container {
    @include container;
}

.header {
    text-align: center;
    margin-bottom: $space-16;
}

.label {
    color: $muted-foreground;
    font-size: 0.875rem;
    letter-spacing: 0.025em;
    font-weight: 500;
    margin-bottom: $space-2;
}

.title {
    font-size: 1.875rem;
    font-family: $font-heading;
    font-weight: 700;
    color: $secondary;

    @include md {
        font-size: 2.25rem;
    }
}

.grid {
    display: grid;
    gap: $space-12;

    @include md {
        grid-template-columns: repeat(3, 1fr);
    }
}

.step {
    text-align: center;
}

.iconWrapper {
    width: 5rem;
    height: 5rem;
    margin: 0 auto $space-6;
    background-color: $primary;
    border-radius: 50%;
    @include flex-center;
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
    color: $primary-foreground;
    font-size: 2.5rem;
}

.stepTitle {
    font-size: 1.25rem;
    font-family: $font-heading;
    font-weight: 700;
    color: $secondary;
    margin-bottom: $space-3;
}

.stepDescription {
    color: hsla(222, 47%, 11%, 0.75);
    line-height: 1.7;
}
