@use "../styles/_variables.scss" as *;
@use "../styles/_mixins.scss" as *;
@import "../styles/global.scss";

:root {
    --radius: 12px;
}

* {
    box-sizing: border-box;
}

html,
body,
#__next {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    color: $foreground;
    background: $background;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

@media (max-width: 992px) {
    .container {
        padding: 0 16px;
    }
}
