@use "../../../styles/_variables.scss" as *;
@use "../../../styles/_mixins.scss" as *;

.main {
    min-height: calc(100vh - 180px);
    margin-top: 5rem;
}

// @media (max-width: 992px) {
//     .main {
//         padding: 0;
//     }
// }